@page "/Account/Lockout"

@inject IStringLocalizer<Lockout> Localizer

<PageTitle>@Localizer["Title"]</PageTitle>

<BoardComponent CenterContent="true">
    <BoardCardComponent Heading="@Localizer["Title"]">
        <p class="text-error">@Localizer["Message"]</p>
    </BoardCardComponent>
</BoardComponent>
