@inherits LayoutComponentBase

<div class="flex flex-col h-screen">
	<NavMenu />

	<main class="flex-1 container mx-auto px-12 py-8">
		@Body
	</main>
	
	<footer class="footer footer-center p-4 bg-base-300 text-base-content">
		<span class="block">
			Powered by 
			<a class="link link-primary" target="_blank" href="https://github.com/miawinter98/Wave">Wave</a>
		</span>
	</footer>
</div>
