@using Wave.Data

<ArticleLink Article="Article">
	<article class="card card-compact bg-base-200 text-base-content rounded-none h-full">
		<div class="card-body">
			<h3 class="card-title line-clamp-2">@Article.Title</h3>
			<small class="text-sm">By @Article.Author.Name</small>
			<p class="flex-none line-clamp-3">
				@Article.Body
			</p>
		</div>
	</article>
</ArticleLink>

@code {
    [Parameter]
    public required Article Article { get; set; }


}
