@using System.Globalization
<section class="w-80 max-w-xs">
    @if (!string.IsNullOrWhiteSpace(Heading)) {
        <h2 class="text-2xl lg:text-4xl lg:hyphens-auto mb-3" lang="@CultureInfo.CurrentCulture">@Heading</h2>
    }
    @ChildContent
</section>

@code {
    [Parameter]
    public string? Heading { get; set; }
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}
