<details class="dropdown dropdown-end">
	<summary class="btn btn-circle btn-ghost btn-xs text-info">
		<svg tabindex="0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
	</summary>
	<div class="card compact dropdown-content z-[1] shadow bg-base-100 dark:bg-base-200 rounded-box w-64">
		<div class="card-body">
			@if (!string.IsNullOrWhiteSpace(Title)) {
				<h2 class="card-title">@Title</h2>
			} 
			<p>@Body</p>
		</div>
	</div>
</details>

@code {
	[Parameter]
	public string? Title { get; set; }
	[Parameter]
	public required string Body { get; set; }
}
