@using Wave.Utilities
@implements IMessageDisplay

<div class="toast toast-start z-10" role="alert">
	@foreach (var message in Messages) {
		<div class="alert @message.Type" @onclick="() => Messages.Remove(message)">
			@if (message.Title is null) {
				@message.Body
			} else {
				<span class="font-bold">@message.Title</span>
				<span><small>@message.Body</small></span>
			}
		</div>
	}
</div>

@code {
	private List<IMessageDisplay.Message> Messages { get; } = [];

	public void ShowMessage(IMessageDisplay.Message message) {
		Messages.Add(message);
		StateHasChanged();
	}
}
