@inherits LayoutComponentBase
@layout AccountLayout

<div class="flex gap-x-8 gap-y-4 flex-wrap">
	<div class="w-full md:max-w-xs">
		<div class="bg-base-200 p-4 rounded">
			<ManageNavMenu/>
		</div>
	</div>
	<div class="max-w-full">
		<h1 class="text-3xl lg:text-5xl mb-3">Manage your account</h1>

		@Body
	</div>
</div>
