@using System.Globalization
<BoardCardComponent Heading="Recovery Codes">
    <Alert Type="Alert.MessageType.Warning" CanRemove="false">
        <div class="hyphens-auto" lang="@CultureInfo.CurrentCulture">
            <strong>Put these codes in a safe place.</strong>
            <p>
                If you lose your device and don't have the recovery codes you will lose access to your account.
            </p>
        </div>
    </Alert>
    <div class="grid grid-cols-2 text-center mt-3 p-4 bg-base-200 rounded">
        @foreach (string recoveryCode in RecoveryCodes) {
            <code>@recoveryCode</code>
        }
    </div>
</BoardCardComponent>

@code {
    [Parameter]
    public string[] RecoveryCodes { get; set; } = [];

    [Parameter]
    public string? StatusMessage { get; set; }
}
